[submodule "vendor/imandra-prelude"]
	path = vendor/imandra-prelude
	url = https://github.com/AestheticIntegration/imandra-prelude.git
[submodule "vendor/imandra-ptime-src"]
	path = vendor/imandra-ptime-src
	url = https://github.com/imandra-ai/imandra-ptime-src.git
