<aside>
	  <div class="container">
		    <nav>
             <ul>
				 	<li><a href = "{{ site.url | append: "doc"}}"><AI Docs></img></a></li>
						{% for collection in site.collections %} 
						{% assign colName = collection.label %}
						{% assign topPage = site.[colName] | first %}
				         <li><a href="{{ topPage.url | prepend: site.baseurl }}">{{ topPage.colName }}</a></li>
						{% endfor %}
             </ul>

		    </nav>
	  </div>
</aside>

<header> <h1><a href="{{site.baseurl}}"><img src = "{{ site.baseurl }}{% link assets/img/imandra_fix_engine_documentation.svg %}"</img></a></h1></header>