/* Import font through css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Styles */
body {
	font-size: 14px;
	font-family:  sans-serif; 
	color: #000;
	margin: 0;
	padding-left: 50px;
	display:flex;
	flex-direction: column;
	align-items: left;
}
ul {
	margin: 0;
	padding: 0;
}
a {
	color: #0B8ED6; 
	text-decoration: none}
a:hover {
	background-color: #0B8ED6; 
	color: #fff; 
	text-decoration: none;
    -webkit-transition: background-color 300ms ease-out; /* Safari */
    transition: background-color 300ms ease-out;
}
/* br{ 
	display: none; 
} */
table{
	border-spacing: 0;
}
body h1:first-child {
	display: none;
}
body h1:first-of-type {
	font-family: 'Open Sans', Sans-serif;
	font-size: 20px;
	font-weight: 500;
	text-align: left;
	color: #000;

}
/* Home page - menu */
.indexlist {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
	font-style: 'Open Sans', Sans-serif;
	font-size: 15px;
	background-color: #F6F6F6;
}
.indexlist:before, .navbar:before{
	content: "FIX Engine Open Source";
	font-size: 15px;
	text-align: left;
	background: url(fix-open.svg) 6px 6px/33px 33px no-repeat;
	padding-left:50px;
	line-height: 44px;
	width: 200px;
	height:44px;
	color: #000;
	background-color: #F6F6F6;
	margin-left: -50px;
}
.indexlist li, { 
	text-align: center;
	width: 150px;
	height: 44px;
	background:#F6F6F6;
	margin-right: 1px;
}
.navbar{
	display: inline-flex;
	text-align: center;
	width: 100%;
	height: 44px;
	background:#F6F6F6;
}
.navbar a{
	display: block;
	padding: 0 15px;
	line-height: 44px;
}
.indexlist li a{
	display: block;
	padding: 0 15px;
	line-height: 44px;
}
/* Home page - table */
.indextable:before{
	content: "Modules:";
	padding-left: 15px;
	font-size: 20px;
	font-weight: 400;
	line-height: 44px;
}
.indextable {
	width:650px;
	border:none;
	margin-top: 7px;
	border: none;
	border-collapse: collapse;
}
.indextable td, .indextable th {
	line-height: 44px;
	border-bottom: 1px #ddd solid;
	border-top: 1px #ddd solid;
}
.indextable td.module {
	background-color: #f5f6f7 ;  
	line-height: 44px;
	border-bottom: 1px #ddd solid;
	border-top: 1px #ddd solid;
	width: 200px;	
}
.indextable td.module a {
	color: #4e6272; 
	text-decoration: none; 
	display: block;
	line-height: 47px;
	width: 100%;
	padding: 0 15px;
}
.indextable td.module a:hover {
	color: #0B8ED6;
	text-decoration: none; 
	background-color: white;
}
.indextable tr td div.info {
	color: #898D92;	
	padding: 0 22px;
	margin: 0;
}
.info { 
	margin-top: .6em;
	margin-left: 1em;
	margin-bottom: 1em;
	font-size: 13px;
	color: #898D92;	
}
td div.info{
	margin: .3em;
}
table{
	color: #000;
}
td.typefieldcomment {  
	color: #898D92;
	font-size: 13px;
}
pre { 
	margin-bottom: 4px; 
	color: #000;
	font-family: monospace; 
}
/* code a:last-of-type {
	margin-left: -50px;
} */
.deprecated {color: #888; font-style: italic}
.keyword { font-weight : bold ; color : Red }
.keywordsign { color: #C04600;}
.superscript { font-size : 4 }
.subscript { font-size : 4 }
.comment { color : Green }
.constructor { color : Blue }
.type { color : #5C6585 }
.string { color : Maroon }
.warning { color : Red ; font-weight : bold }
.param_info { margin-top: 4px; margin-left : 3em; margin-right : 3em }
.code { color : #465F91 ; }
.typetable { margin-left:1.8em; border-style : hidden }
.paramstable { border-style : hidden ; padding: 5pt 5pt}
tr { background-color : White }
div.sig_block {margin-left: 0em}
*:target { background: yellow; }

h1 { font-size : 15px ; text-align: center; }
h2 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #90BDFF ;padding: 2px; }
h3 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #90DDFF ;padding: 2px; }
h4 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #90EDFF ;padding: 2px; }
h5 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #90FDFF ;padding: 2px; }
h6 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #90BDFF ; padding: 2px; }
div.h7 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #E0FFFF ; padding: 2px; }
div.h8 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #F0FFFF ; padding: 2px; }
div.h9 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #FFFFFF ; padding: 2px; }



