---
layout: default
---
<!-- Sidebar -->
<div class="vertical-menu" style = "width:25%">
    {% assign pname = page.collection %}
    {% assign col = site[pname] %}
    {% for lin in col %}
    <a href="{{ lin.url | prepend: site.baseurl }}">{{lin.title}}</a>
    {% endfor %}
    {% if page.colName == "Documentation" %}
    <a href = "{{ site.baseurl }}{% link _pages/doc/index.html %}">Technical Documentation</a>
    {% endif %}
</div>

<div style="margin-left:25%">
<h2>{{ page.title }}</h2>

{{ content }}
</div>
