name: Build and deploy Jekyll site to GitHub Pages

on:
  push:
    branches:
      - gh-pages-src

jobs:
  github-pages:
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Build Jekyll image
        run: docker build -t jekyll-build .
      - name: Make output dir
        run: mkdir _site && touch _site/.nojekyll
      - name: Jekyll build
        run: docker run -v `pwd`:/srv/jekyll -e JEKYLL_ENV=production jekyll-build jekyll build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
      - uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          fields: workflow,job,commit,repo,ref,author,took
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: always()
