name: Build and deploy Jekyll site to GitHub Pages

on:
  push:
    branches:
      - gh-pages-src

jobs:
  github-pages:
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/checkout@v2
      - uses: helaili/jekyll-action@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
